MONGO_URI=mongodb+srv://finalrevolk_db_user:PASSWORD_HERE@cluster0.bkrx071.mongodb.net/ahmedHeikenAshi?appName=Cluster0
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=
TELEGRAM_CHANNELS=channel1_username,channel2_username
PRICEFEED_INGEST_SECRET=
PRICEFEED_PORT=8081
ADMIN_SECRET=
API_PORT=3000
